:root {
  --bg-primary: #0e1a3a;
  --bg-secondary: #122353;
  --secondary: #42dd71;
  --danger: #ff5858;

  font-size: 16px;
}

body {
  font-family: monospace, sans-serif;
  background-color: var(--bg-primary);
  color: var(--secondary);
  margin: 0;
}